.navbar {
    background-color: black;
    position: fixed;  /* Fix the navbar at the top */
    top: 0;           /* Ensure it starts from the top */
    left: 0;
    width: 100%;      /* Make it span the full width */
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    z-index: 1000;
    .logoImage {
        height: 3vw;
        width: 15vw;
    }
    .icons {
        cursor: pointer;
        display: flex;
        gap: 15px;
        .icon {
            color: white;
        }
    }
}
/* 
  profile: { flexShrink: 0 },
  profileImage: { height: "30px", borderRadius: "50%", border: "2px solid white" } */